<h2>Edit <%= @product.name %><</h2>
<form method="POST" action="/product/<%=@product.id%>/edit">
  <div>

    <div>
      <label for="name">Product Name:</label>
      <input type="text" name="name" value="<%= @product.name %>" id="name"/>
    </div>

    <div>
      <label for="description">Product Description:</label>
      <input type="text" name="description" value="<%= @product.description %>" id="description"/>
    </div>

    <div>
      <label for="stock">Current Stock:</label>
      <input type="number" name="stock" value="<%= @product.stock %>"id="stock"/>
    </div>

    <div>
      <label for="price">Price to buy:</label>
      <input type="number" min="0.01" step="0.01" name="price" value="<%= @product.price %>" id="price"/>
    </div>

    <div>
      <label for="sell_price">Sell Price:</label>
      <input type="number" min="0.01" step="0.01" name="sell_price" value="<%= @product.sell_price %>" id="sell_price"/>
    </div>

    <div>
      <label for="supplier_id">Supplier:</label>
      <select name="supplier_id" id="supplier_id">
        <% @suppliers.each do |supplier| %>
        <% if supplier.id == @product.supplier_id %>
            <option value=<%= supplier.id %> selected><%= supplier.company_name %></option>
            <% else %>
            <option value=<%= supplier.id %>><%= supplier.company_name %></option>
        <% end %>
        <% end %>
      </select>
    </div>

    <br>
    <div>
      <input type = "submit"
             value = "save changes">
      </div>

  </div>
</form>
