<h2><%= @product.name %></h2>

<p>Description: <%= @product.description %></p>
<p>Stock: <%= @product.stock %></p>
<p>Price: <%= @product.price %></p>
<p>Sell Price: <%= @product.sell_price %></p>
<p>Supplier: <%= @product.supplier.company_name %></p>

<a href="supplier_of_product/<%= @product.supplier_id %>">Supplier Details</a>

<h3><a href="/product/<%=@product.id%>">Edit product details</a></h3>
