<h2>Stock</h2>
<h3>current price of gold £<%= @goldprice.current_price %> per troy ounce </h3>

<div>
  <% @stock.each do |product| %>

  <div>
    <h3><a href="/product/<%= product.id %>"><%= product.name %></a></h3>

    <% if product.stock <= 10 %>
    <p style="color:red;">Stock Count: <%= product.stock.to_s %> !!!</p>
    <% elsif product.stock <= 25 %>
    <p style="color:orange;">Stock Count: <%= product.stock.to_s %></p>
    <% else %>
    <p style="color:green;">Stock Count: <%= product.stock.to_s %></p>
    <% end %>

  </div>

  <hr>

  <% end %>
  <h3><a href="/stock/new">New Product</a></h3>
</div>
