<h2><%= @supplier.company_name %></h2>

<p>Description: <%= @supplier.company_description %></p>
<p>Contact Number: <%= @supplier.contact_number %></p>

<br>

<div>
  <% products = @supplier.view_products %>
  <% products.each do |product| %>

  <div>
    <h3><a href="/product/<%= product.id %>"><%= product.name %></a></h3>
    <p>Stock Count: <%= product.stock.to_s %></p>
  </div>

<hr>

  <% end %>
</div>
