<h2><%= @supplier.company_name %></h2>

<p>Description: <%= @supplier.company_description %></p>
<p>Contact Number: <%= @supplier.contact_number %></p>

<a href="supplier_of_product/<%=@supplier.id%>">Supplier Details</a>

<div>
  <% @products.each do |product| %>

  <div>
    <h3><a href="/product/<%= product.id %>"><%= product.name %></a></h3>
    <p>Stock Count: <%= product.stock.to_s %></p>
  </div>

  <% end %>
</div>
