<h2><%= @supplier.company_name %></h2>

<p>Description: <%= @supplier.company_description %></p>
<p>Contact Number: <%= @supplier.contact_number %></p>

<a href="supplier_details/<%=@supplier.id%>">View all products from this Supplier</a>

<form action="/supplier/<%=@supplier.id%>/delete" method="POST"><input type="submit" value="Delete"></form>
